<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manage.mapper.PmsSkuInfoMapper">
    <resultMap id="selectSkuSaleAttrValueListBySpuMap" type="com.atguigu.gmall.bean.PmsSkuInfo" autoMapping="true">
        <id property="id" column="si_id"/>
        <collection property="skuSaleAttrValueList" ofType="com.atguigu.gmall.bean.PmsSkuSaleAttrValue" autoMapping="true">
            <id property="id" column="ssav_id"/>
        </collection>
    </resultMap>
    <select id="selectSkuSaleAttrValueListBySpu" resultMap="selectSkuSaleAttrValueListBySpuMap">
        SELECT
           si.*,ssav.*,si.id as si_id,ssav.id as ssav_id
        FROM
            pms_sku_info si
                JOIN
            pms_sku_sale_attr_value ssav ON si.id = ssav.sku_id
        WHERE
            product_id = #{arg0};
    </select>
</mapper>